body {
  font-family: Arial;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.inputs input, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

li {
  list-style: none;
  margin: 5px 0;
  padding: 10px;
  background: #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.income { color: green; }
.expense { color: red; }
